/*  your css code here. If applicable */
#outer{
	width:500px;
	height:200px;
	background-color:grey;
	border:2px solid black;
	border-radius:50px;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	
	
}
.inner{
	height:100px;
	width:100px;
	border-radius:50%;
	
}
#green{
	background-color:green;
	
}
#yellow{
	background-color:yellow;
	
}
#red{
	background-color:red;
    
}