/*  your css code here. If applicable */
#outer{
	width:450px;
	height:200px;
	background-color:grey;
	border:2px solid black;
	border-radius:50px;
	display:flex;
	justify-content:space;
	align-items:center;
	padding-left:80px;
}

.green{
	background-color:green;
	height:100px;
	width:100px;
	border-radius:50%;
	margin-right:30px;
}
.yellow{
	background-color:yellow;
	height:100px;
	width:100px;
	border-radius:50%;
	margin-right:30px;
}
.red{
	background-color:red;
    height:100px;
	width:100px;
	border-radius:50%;
}